<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# 📝 Assignment
---
# Choose your ML problems

이번 스프린트에서는 포트폴리오 프로젝트를 위해 수강생 각자가 정한 데이터셋을 사용하여 과제를 수행합니다. 프로젝트를 위한 데이터를 최종 선택하기 전에 여러 가능한 데이터세트를 살펴보고 간단한 모델까지 학습해 보는 것을 추천드립니다.

### 1) 타겟으로 사용할 특성을 선택합니다.
**(Urclass Quiz)** 여러분들이 프로젝트에 사용할 데이터셋과 타겟특성에 대해 아래의 내용을 포함하여 간략하게 설명해주세요. 
* `df.dtypes`을 사용해서 타겟특성의 데이터 타입 확인
* `df.describe()`를 사용해서 타겟특성의 대표값 확인(실수-평균, 범주형-최빈값)

In [3]:
### Heart Disease UCI : 심장마비 예측 ### 
# https://archive.ics.uci.edu/ml/datasets/Heart+Disease

#구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#데이터 불러오기
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/kaggle/heart.csv')

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [6]:
df.describe()

              age         sex          cp  ...         caa       thall      output
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [7]:
#나이 : 환자의 나이
#성별 : 환자의 성별
#exang: 운동 유발 협심증(1 = 예, 0 = 아니오)
#ca: 주요 혈관 수(0-3)
#cp : 흉통형 흉통형
# 1: 전형적인 협심증
# 2: 비정형 협심증
# 3: 협심증이 아닌 통증
# 4: 무증상
#trtbps : 안정시 혈압(mmHg 단위)
#chol : BMI 센서를 통해 가져온 콜레스테롤(mg/dl)
#fbs : (공복 혈당 > 120 mg/dl) (1 = 참, 0 = 거짓)
#rest_ecg : 휴식기 심전도 결과
# 0: 정상
# 1: ST-T파 이상(T파 반전 및/또는 ST 상승 또는 하강 > 0.05mV)
# 2: Estes' 기준에 의한 좌심실 비대 가능성이 있거나 확실한 표시
#thalach : 달성한 최대 심박수
#목표: 0= 심장마비의 확률 감소 1= 심장마비의 더 높은 확률

### 2) 풀고자 하는 문제가 분류/회귀 문제인지 정합니다.
**(Urclass Quiz)** 다이아몬드를 보관하기 위해 금고를 만들었습니다. 금고가 너무 작아서 가격이 상위 25%인 것만 보관하려고 합니다. 이를 위해 'price' 특성을 이용해 금고에 보관할 다이아몬드와 그렇지 않은 것으로 분류하는 이진분류 컬럼을 만들어 타겟 특성으로 사용할 것입니다. 타겟 특성의 최빈값의 빈도수를 적어주세요.
- 'top25'라는 새로운 타겟변수(컬럼)를 만들어주세요.
- 상위 25% 이상 True, 상위 25% 미만 False

In [1]:
### 이곳에서 과제를 진행해 주세요 ### 
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

In [9]:
diamonds.describe()

              carat         depth  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean       0.797940     61.749405  ...      5.734526      3.538734
std        0.474011      1.432621  ...      1.142135      0.705699
min        0.200000     43.000000  ...      0.000000      0.000000
25%        0.400000     61.000000  ...      4.720000      2.910000
50%        0.700000     61.800000  ...      5.710000      3.530000
75%        1.040000     62.500000  ...      6.540000      4.040000
max        5.010000     79.000000  ...     58.900000     31.800000

[8 rows x 7 columns]

In [11]:
diamonds['top25'] = ['T' if t else 'F' for t in list(diamonds['price'] >= 950.0)]

In [12]:
diamonds

       carat        cut color clarity  depth  ...  price     x     y     z  top25
0       0.23      Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43      F
1       0.21    Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31      F
2       0.23       Good     E     VS1   56.9  ...    327  4.05  4.07  2.31      F
3       0.29    Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63      F
4       0.31       Good     J     SI2   63.3  ...    335  4.34  4.35  2.75      F
...      ...        ...   ...     ...    ...  ...    ...   ...   ...   ...    ...
53935   0.72      Ideal     D     SI1   60.8  ...   2757  5.75  5.76  3.50      T
53936   0.72       Good     D     SI1   63.1  ...   2757  5.69  5.75  3.61      T
53937   0.70  Very Good     D     SI1   62.8  ...   2757  5.66  5.68  3.56      T
53938   0.86    Premium     H     SI2   61.0  ...   2757  6.15  6.12  3.74      T
53939   0.75      Ideal     D     SI2   62.2  ...   2757  5.83  5.87  3.64      T

[53940 rows x 11 columns]

### 3) 타겟의 분포를 분석하고 사용할 평가지표를 선택합니다. 평가지표를 선택한 이유를 설명하세요.
- 분류: 클래스가 몇 개인지? 클래스 비율이 어떤지(balance or imbalance)
- 회귀: 타겟 분포가 right-skewed 인지? log-transform을 사용할 것인지?
- 분류: 다수 클래스(majority class) 비율이 50%~70% 인 경우 정확도(accuracy)만 사용해도 무방합니다. 하지만 범위를 넘어설 경우 정확도만을 사용해서는 모델을 잘못 이해할 수 있습니다. 어떤 평가지표를 사용해야 할까요?
- 회귀: MAE, RMSE, R^2 등을 사용할 수 있습니다.

---


**(Urclass Quiz)** 여러분들이 프로젝트에 사용할 데이터의 기준모델과 사용할 평가지표를 제출해주세요.

In [13]:
### coming soon.... ###

## 🔥 도전과제(Github - Discussion)

### 4) 데이터를 훈련/검증/테스트 데이터로 나누고 전처리를 수행합니다. 그리고 간단한 모델을 사용해서 학습을 수행합니다.
- 이상치(outliers)가 있다면 어떻게 처리할 것인지 설명합니다.
- 무작위로 or 시간에 따라 데이터를 나눌 것인지 설명합니다.
- 모델 학습 결과를 리포팅 합니다.
- 정보 누수(leakage)가 있는지 확인해 봅니다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###